<style>
  .greet {
    text-align: center;
  }

  .greet h4 {
    color: #ff5d68d3;
  }

  .btn-search {
    background-color: #fe424e;
    border: 1px solid #fe424e !important;
    border-radius: 50%;
    height: 3rem;
    width: 3.6rem;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  }

  .search-bar {
    flex-grow: 1;
    display: flex;
    justify-content: start;
    align-items: center;
    margin-left: 3rem !important;
  }
  
  @media (max-width: 500px){
    .search-bar{
      margin-left: 1.15rem !important;
    }
  }

  .search-bar form {
    width: 100%;
    max-width: 500px;
  }

  input[type="search"]::-webkit-search-cancel-button {
    appearance: none;
    height: 2rem;
    width: 2rem;
    background-color: #fe424e;
    border-radius: 50%;
    mask: url('data:image/svg+xml;charset=utf8,%3Csvg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16"%3E%3Cpath fill="%23ffffff" d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z"%3E%3C/path%3E%3C/svg%3E') center / contain no-repeat;
    cursor: pointer;
  }

  input[type="search"]::-webkit-search-cancel-button:hover {
    background-color: rgb(255, 0, 0);
  }

  .custom-focus:focus {
    box-shadow: 0 0 0 0.25rem rgba(255, 37, 37, 0.452);
    border-color: #fe424e;
  }

  .search-input {
    border-radius: 25px;
    padding: 0.5rem 2.6rem 0.5rem 2.6rem;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.39);
  }

  .btn-search i {
    color: white;
  }

  .btn-search:hover {
    background-color: #fd1121;
  }

  .navbar-toggler {
    border: none;
    background-color: transparent;
    transition: transform 0.3s ease, opacity 0.3s ease;
  }

  .navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3E%3Cpath stroke='rgba(0, 0, 0, 0.7)' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
    width: 30px;
    height: 30px;
  }

  .navbar-toggler:hover {
    transform: scale(1.1);
    opacity: 0.8;
  }

  .collapse.show {
    transition: height 0.3s ease-in-out;
  }

  @media (max-width: 766px) {
    .search-bar {
      flex-grow: 0;
      margin: 0 auto;
      width: 64%;
    }

    .btn-search {
      height: 2.5rem;
      width: 2.5rem;
    }

    .search-input {
      padding: 0.5rem 1rem;
    }

    .navbar-toggler-body{
      background: #fe424e;
      width: 100%;
      border: 1px solid black;
      border-radius: 1rem;
    }
    .navbar-toggler-body a {
      color: white !important;
      border-bottom: 1px solid white;
      text-align: center;
    }

  }
</style>

<nav class="navbar navbar-expand-md bg-body-light border-bottom sticky-top">
  <div class="container-fluid">
    <!-- Left Side -->
    <a class="navbar-brand" href="/listings"><i class="fa-regular fa-compass"></i></a>

    <!-- Center Search Bar -->
    <div class="search-bar mx-auto">
      <form class="d-flex searchForm" action="/listings/search" method="get" role="search">
        <input class="form-control me-2 search-input custom-focus" type="text" name="s" placeholder="Search destinations">
        <button class="btn btn-search" type="submit"><i class="fa-solid fa-magnifying-glass"></i></button>
      </form>
    </div>

    <!-- Right Side -->
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav ms-auto navbar-toggler-body">
        <a class="nav-link" href="/listings/new" style="font-weight: 550; font-size: 1.1rem;">Be a Local Hero</a>
          <% if (!currUser) { %>
          <a class="nav-link" href="/signup"><b>signup</b></a>
          <a class="nav-link" href="/login"><b>login</b></a>
          <% } %>
          <% if (currUser) { %>
          <a class="nav-link" href="/logout"><b>logout</b></a>
          <% } %>
      </div>
      </div>
    </div>
  </div>
</nav>
